<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href={{ url_for('static', filename='style.css') }} />
    <title>CJ Eller's Site</title>

  </head>
  <body>
    <h1>CJ Eller</h1>
    <p>
      Hi there, I'm CJ — a classical guitarist by training who got into the world of IT & software
      by accident.
    </p>

    <p>
      Currently I am the community manager at
    <a target="_blank" href="https://write.as">Write.as</a>.
    </p>

    <p>
      I write on
      <a target="_blank" href="https://blog.cjeller.site">my blog</a>.
    </p>

    <p>
      I keep a
      <a target="_blank" href="https://cyber.cjeller.site">journal</a>
      about my foray into cybersecurity.
    </p>

    <p>
      <strong>Links:</strong> <a target="_blank" href="https://twitter.com/cjeller3">Twitter</a> | <a taraget="_blank" href="https://github.com/cjeller1592">Github</a> | <a target="_blank" href="https://www.linkedin.com/in/charles-cj-eller-28923813a/">LinkedIn</a> 
  </body>
</html>
